<script id="yourClubTemplate" type="text/html">
   <div class="row w-100 pl-10px">
      <div class="border p-2"><a href="/clubHome/{club.id}" style="text-decoration: none;">{club.title}</a></div>
   </div>
</script>

