<!DOCTYPE html>
<html>
   {{>layout/head}}
   <body onload="activateStateCity()">
      <nav class="navbar navbar-static-top">
         <div class="container">
            <div class="navbar-brand w-25 d-none d-md-block">
               <a href="/"><img src="/HobbyClub-large.png" class="img-fluid" alt="Hobby Club"/></a>
            </div>
            <div class="navbar-brand w-25 d-md-none d-block">
               <a href="/"><img src="/HobbyClub-small.png" class="img-fluid" alt="Hobby Club"/></a>
            </div>
         </div>
      </nav>
      <div class="container">
         <div class="row"><h4 class="text-center">Sign up to become a Member</h4></div>
         <form action="/newMember" method="post">
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="firstName" class="form-label">Enter your First Name:</label></div>
               <div class="col-4 text-start">
                  {{#missingFirst}}
                  <div class="error">First Name is Required</div>
                  {{/missingFirst}}
                  <input class="form-control" id="firstName" name="firstName" placeholder="First Name"{{#firstName}} value="{{firstName}}"{{/firstName}}>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="lastName" class="form-label">Enter your Last Name:</label></div>
               <div class="col-4 text-start">
                  {{#missingLast}}
                  <div class="error">First Name is Required</div>
                  {{/missingLast}}
                  <input class="form-control" id="lastName" name="lastName" placeholder="Last Name"{{#lastName}} value="{{lastName}}"{{/lastName}}>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="nickName" class="form-label">Enter a Display Name:</label><br>Choose a Display Name or based on your First Name.</div>
               <div class="col-4 text-start">
                  {{#takenNick}}
                  <div class="error">Display Name is Taken. How about {{nickAlternative}}</div>
                  {{/takenNick}}
                  <input class="form-control" id="nickName" name="nickName" placeholder="Display (Login) Name"{{#nickName}} value="{{nickName}}"{{/nickName}}>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="pass" class="form-label">Enter a Password:</label></div>
               <div class="col-4 text-start">
                  {{#noPass}}
                  <div class="error">Password is required.</div>
                  {{/noPass}}
                  {{#shortPass}}
                  <div class="error">Password is too short.</div>
                  {{/shortPass}}
                  <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="10 or more characters"{{#password}} value="{{password}}"{{/password}}>
                         &nbsp;10 or more characters.
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="stateId" class="form-label">Select your State:</label></div>
               <div class="col-4 text-start">
                  {{#missingState}}
                  <div class="error">State is Required</div>
                  {{/missingState}}
                  <select class="form-select" id="stateId" name="stateId" aria-label="Select State">
                     {{#stateDropDown}}
                     <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                     {{/stateDropDown}}
                  </select>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="cityId" class="form-label">Select your City:</label></div>
               <div class="col-4 text-start">
                  {{#missingCity}}
                  <div class="error">City is Required</div>
                  {{/missingCity}}
                  <select class="form-select" id="cityId" name="cityId" aria-label="Select City">
                     {{#cityDropDown}}
                     <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                     {{/cityDropDown}}
                  </select>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="interestOne" class="form-label">Select an Interest:</label></div>
               <div class="col-4 text-start">
                  {{#missingInterest}}
                  <div class="error">At least One Interest is Required</div>
                  {{/missingInterest}}
                  <select class="form-select" id="interestOne" name="interestOne" aria-label="Select Interest">
                     {{#categoryDropDown}}
                     <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                     {{/categoryDropDown}}
                  </select>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="interestTwo" class="form-label">Select an Interest:</label></div>
               <div class="col-4 text-start">
                  <select class="form-select" id="interestTwo" name="interestTwo" aria-label="Select Interest">
                     {{#categoryDropDown2}}
                     <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                     {{/categoryDropDown2}}
                  </select>
               </div>
            </div>
            <div class="row justify-content-center form-group">
               <div class="col-4 text-end"><label for="interestThree" class="form-label">Select an Interest:</label></div>
               <div class="col-4 text-start">
                  <select class="form-select" id="interestThree" name="interestThree" aria-label="Select Interest">
                     {{#categoryDropDown3}}
                     <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                     {{/categoryDropDown3}}
                  </select>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-4 text-end">&nbsp;</div>
               <div class="col-4 text-start">
                  <button type="submit" aria-roledescription="Register as a new Member" class="btn btn-primary">Register</button>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-4 text-end">&nbsp;</div>
               <div class="col-4 text-start">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.
               </div>
            </div>
         </form>
      </div>
      {{>layout/cities}}
   </body>
</html>
